<mat-toolbar color="primary">
  Login
  <span class="flex-spacer"></span>
  <button mat button mat-dialog-close>&times;</button>
</mat-toolbar>

<!-- Display the variable user in json -->
<p>{{ user |  json }}</p>

<!-- 
  Login form

  Novalidate = Makes HTML skip the regular validation, and gives the responsibility to Angular
  #loginForm = Specify a variable that lets us track the state of the form
  (ngSubmit) = When form is submitted, run the onSubmit() command. Found in the login.component.ts file

-->
<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <p>
      <mat-form-field>
        <!-- Username - Required -->
        <input matInput placeholder="Username" type="text" 
        [(ngModel)]="user.username" name="username"
        #username="ngModel" required>
        <!-- Displays an error if the username is not typed -->
        <mat-error *ngIf="username.errors?.required">Username is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <!-- Password - Required -->
        <input matInput placeholder="Password" type="password" 
        [(ngModel)]="user.password" name="password"
        #password="ngModel" required>
        <!-- Displays an error if the password is not typed -->
        <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
      </mat-form-field>
      <!-- Remember me checkbox -->
      <mat-checkbox [(ngModel)]="user.remember" name="Remember me">Remember me</mat-checkbox>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <!-- Submit button - Only valid when requirements are set -->
    <button mat-mat-button type="submit" class="background-primary text-floral-white"
      [disabled]="loginForm.form.invalid">Login</button>
  
  </mat-dialog-actions>
</form>