<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <!-- Dishes grid list -->
  <div fxFlex *ngIf="dishes">
    <mat-grid-list cols="2" rowHeight="200px" >
      <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]">
        <img height="200px" matListAvatar src="{{BASEURL + dish.image}}" alt={{dish.name}}>
        <mat-grid-tile-footer>
          <h1 matLine>{{dish.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <!-- 
    Progress bar 

    [hidden] - If dishes are hidden, show this div instead.
    Other div will not show as long as the dishes are not loaded from server
  -->
  <div fxFlex [hidden]="dishes || errMess">
    <mat-spinner></mat-spinner> <h4>Loading... Please wait!</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>