<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px">


  <!-- DISH CARD -->
  <mat-card *ngIf="dish" fxFlex>
    <!-- Mat-card Header -->
    <mat-card-header>
      <mat-card-title><h3>{{dish.name | uppercase}}</h3></mat-card-title>
    </mat-card-header>
    <!-- Image -->
    <img mat-card-image src={{dish.image}} alt={{dish.name}}>
    <!-- Mat-card content -->
    <mat-card-content>
      <p>{{dish.description}}</p>
    </mat-card-content>
  </mat-card>

  <!-- PROMOTION CARD -->
  <mat-card *ngIf="promotion" fxFlex>
    <!-- Mat-card Header -->
    <mat-card-header>
      <mat-card-title><h3>{{promotion.name | uppercase}}</h3></mat-card-title>
    </mat-card-header>
    <!-- Image -->
    <img mat-card-image src={{promotion.image}} alt={{promotion.name}}>
    <!-- Mat-card content -->
    <mat-card-content>
      <p>{{promotion.description}}</p>
    </mat-card-content>
  </mat-card>

  <!-- LEADER CARD -->
  <mat-card *ngIf="leader" fxFlex>
    <!-- Mat-card Header -->
    <mat-card-header>
      <mat-card-title><h3>{{leader.name | uppercase}}</h3></mat-card-title>
    </mat-card-header>
    <!-- Image -->
    <img mat-card-image src={{leader.image}} alt={{leader.name}}>
    <!-- Mat-card content -->
    <mat-card-content>
      <p>{{leader.designation}}</p>
      <p>{{leader.description}}</p>
    </mat-card-content>
  </mat-card>

</div>